<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <div class="input form-group">
        <table width="650" >
          <tbody>
            <tr>
              <td valign="middle" width="130">
                <img width="130" src="http://image.ibb.co/gjQ1j7/Logo_Mutual.png" alt="logo mutual">
              </td>
              <td valign="middle" width="20"></td>
              <td valign="middle" width="250">
                <%= form.text_field :nombre, id: :usuario_nombre, placeholder: "Tu nombre y apellido", class: "input-form data-nombre" %>
                <%= form.text_field :cargo, id: :usuario_cargo, placeholder: "Tu cargo", class: "input-form data-cargo" %>
                <%= form.text_field :telefono, id: :usuario_telefono, placeholder: "Tu teléfono", class: "input-form data-numero" %>
                <%= form.text_field :direccion, id: :usuario_direccion, placeholder: "Dirección de Oficina", class: "input-form data-direccion" %>
                <p class="url">www.mutualdeseguros.cl</p>
              </td>
              <td valign="middle" width="1"><img src="https://image.ibb.co/jxYygG/skitched_20171001_202657.jpg" height="150px" /></td>
              <td valign="middle" width="180">
                <img width="230" src="https://image.ibb.co/nmu45b/skitched_20171001_174841.jpg">
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :rut %>
    <%= form.text_field :rut, id: :usuario_rut, placeholder: "12345678-9", class: "form-control" %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
