<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style type="text/css">
  @media screen {
    body {
      font-family: Arial, Sans-Serif;
    }
  }
  </style>
  <div class="input">
    <table width="650" >
      <tbody>
        <tr>
          <td valign="middle" width="130">
            <img width="130" src="http://image.ibb.co/gjQ1j7/Logo_Mutual.png" alt="logo mutual">
          </td>
          <td valign="middle" width="20"></td>
          <td valign="middle" width="250">
            <p>
              <!-- modificar la información de cada usuario acá. -->
              <strong style="font-size:15px;color:#333333;"><%= form.text_field :nombre, id: :usuario_nombre, placeholder: "Tu nombre y apellido" %></strong><br>
              <span style="font-size:13px;color:#203747;"><%= form.text_field :cargo, id: :usuario_cargo, placeholder: "Tu cargo" %></span><br>
              <small style="font-size:15px;color:#0066cc"><%= form.text_field :telefono, id: :usuario_telefono, placeholder: "Tu teléfono" %></small><br>
              <small style="font-size:14px;color:#7a828d"><%= form.text_field :direccion, id: :usuario_direccion, placeholder: "Dirección de Oficina" %></small><br>
              <a style="vertical-align:top;color:#005cb9;text-decoration:none;" href="http://www.mutualdeseguros.cl" title="visitanos" target="_blank">www.mutualdeseguros.cl</a>
              <!-- modificar la información de cada usuario acá. -->
            </p>
          </td>
          <td valign="middle" width="1"><img src="https://image.ibb.co/jxYygG/skitched_20171001_202657.jpg" height="150px" /></td>
          <td valign="middle" width="180">
            <img width="178" src="https://image.ibb.co/nmu45b/skitched_20171001_174841.jpg">
          </td>

        </tr>
      </tbody>
    </table>
  </div>
  <div class="botonera">
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
