<%= @palabra %>
<div class="container row justify-content-md-center item">
  <div class="col-md-6">
    <div class="input">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <table width="650" id="capture">
        <tbody>
          <tr>
            <td valign="middle" width="130">
              <img width="130" src="http://image.ibb.co/gjQ1j7/Logo_Mutual.png" alt="logo mutual">
            </td>
            <td valign="middle" width="20"></td>
            <td valign="middle" width="250">
              <p>
                <strong class="data-nombre" style="font-size:15px;color:#333333;font-weight:600;"><%= usuario.nombre %></strong><br>
                <span class="data-cargo" style="font-size:13px;color:#203747;"><%= usuario.cargo %></span><br>
                <small class="data-numero" style="font-size:15px;color:#0066cc"><%= usuario.telefono %></small><br>
                <small class="data-direccion" style="font-size:14px;color:#7a828d"><%= usuario.direccion %></small><br>
                <a class="url" style="vertical-align:top;color:#005cb9;text-decoration:none;" href="http://www.mutualdeseguros.cl" title="visitanos" target="_blank">www.mutualdeseguros.cl</a>
              </p>
            </td>
            <td valign="middle" width="1"><img src="https://image.ibb.co/jxYygG/skitched_20171001_202657.jpg" height="150px" /></td>
            <td valign="middle" width="180">
              <img width="230" src="http://image.ibb.co/caWDxS/Logo_Somos_Mutual.png">
            </td>

          </tr>
        </tbody>
      </table>
    </div>
    <div class="botonera">
      <%= link_to usuario, class: "see" do %>
      <i class="material-icons">visibility</i>
      <% end %>
    </div>
  </div>
</div>
