<% if admin_signed_in?%>
<div class="container row">
  <div class="col-md-6">
    <h2>Importa Firmas</h2>
    <%= form_tag import_usuarios_path, multipart: true do %>
      <div class="input-group">
        <div class="custom-file">
          <%= file_field_tag :file, class: "custom-file-input", id: "inputGroupFile" %>
          <%= label_tag :file, class: "custom-file-label", id: "inputGroupFile" do %>
            Seleccione un excel
          <% end %>
        </div>
        <div class="input-group-append">
          <%= submit_tag "Importar", class: "btn bg-success text-white" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <h2>Descarga Firmas</h2>
    <%= link_to "Descarga Excel", usuarios_path(format: "xlsx"), class: "btn btn-primary" %>
  </div>
</div>
<% end %>

<div class="container">
  <div class="row">
    <% @usuarios.each do |usuario| %>
      <div class="col-md-6 p-2 item">
        <div class="input">
          <div id="capture" class="capture">
            <div class="logo">
              <!-- <img width="130" src="http://image.ibb.co/gjQ1j7/Logo_Mutual.png" alt="logo mutual"> -->
              <%= image_tag  "logo.png" %>
            </div>
            <div class="contenido">
              <p class="data-nombre" style="font-size:15px;color:#333333;font-weight:500;"><%= usuario.nombre %></p>
              <p class="data-cargo" style="font-size:13px;color:#203747;"><%= usuario.cargo %></p>
              <p class="data-numero" style="font-size:15px;color:#0066cc"><%= usuario.telefono %></p>
              <p class="data-direccion" style="font-size:14px;color:#7a828d"><%= usuario.direccion %></p>
              <a class="url" style="vertical-align:top;color:#005cb9;text-decoration:none;" href="http://www.mutualdeseguros.cl" title="visitanos" target="_blank">www.mutualdeseguros.cl</a>
            </div>
            <div class="somos">
              <img src="http://image.ibb.co/caWDxS/Logo_Somos_Mutual.png">
            </div>
          </div>
        </div>
        <div class="botonera">
          <%= link_to usuario, class: "see" do %>
            <i class="material-icons">visibility</i>
          <% end %>
          <% if admin_signed_in?%>
            <%= link_to usuario, method: :delete, data: { confirm: 'Are you sure?' }, class: "destroy" do %>
              <i class="material-icons">clear</i>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <nav aria-label="Page navigation">
      <%= will_paginate @posts %>
  </nav>
</div>

<br>

<%= link_to new_usuario_path, class: "new" do %>
  <i class="material-icons">add</i>
<% end %>
