<div class="container row justify-content-md-center item p-5">
  <div class="col-md-6">
    <div class="input">
      <div id="capture" class="capture">
        <div class="logo">
          <!-- <img width="130" src="http://image.ibb.co/gjQ1j7/Logo_Mutual.png" alt="logo mutual"> -->
          <%= image_tag  "logo.png" %>
        </div>
        <div class="contenido">
          <p class="data-nombre" style="font-size:15px;color:#333333;font-weight:500;"><%= @usuario.nombre %></p>
          <p class="data-cargo" style="font-size:13px;color:#203747;"><%= @usuario.cargo %></p>
          <p class="data-numero" style="font-size:15px;color:#0066cc"><%= @usuario.telefono %></p>
          <p class="data-direccion" style="font-size:14px;color:#7a828d"><%= @usuario.direccion %></p>
          <a class="url" style="vertical-align:top;color:#005cb9;text-decoration:none;" href="http://www.mutualdeseguros.cl" title="visitanos" target="_blank">www.mutualdeseguros.cl</a>
        </div>
        <div class="somos">
          <img src="http://image.ibb.co/caWDxS/Logo_Somos_Mutual.png">
        </div>
      </div>
    </div>
  </div>
  <div class="botonera">
    <%= link_to usuarios_path, class: "volver" do %>
      <i class="material-icons">keyboard_arrow_left</i>
    <% end %>
    <% if admin_signed_in?%>
      <%= link_to edit_usuario_path(@usuario), class: "edit" do %>
        <i class="material-icons">mode_edit</i>
      <% end %>
    <% end %>
  </div>
</div>
<% if admin_signed_in?%>
<div class="container row justify-content-md-center item">
  <div class="col-md-6">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Codigo en html
    </button>
    <button class="capturar btn btn-primary">
      Capturar
    </button>

    <%= button_to action: "enviar", class: "btn_to" do %>
      Enviar a <%= @usuario.nombre %>
    <% end %>

  </div>

  <div id="collapseExample" class="collapse">
    <br>
    <pre><code class="html output"></code></pre>
  </div>
</div>
<% end %>
<br>
<br>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <a id="img-val" href="" download="<%= @usuario.rut.gsub(/[-,\.]/, '').chop %>">
      </a>
    </div>
  </div>
</div>


<script type="text/javascript" async>
  Turbolinks.clearCache();
  function clearPage(){
    var container = $('.input');
    //console.log(container[0].innerHTML);
    str = container[0].innerHTML;
    //parse = $.parseHTML( str );
    $('.output').text(str);
  }
  clearPage();

  $('.capturar').on('click', function(){
    html2canvas(document.querySelector("#capture"),{
      useCORS: true,
    }).then(canvas => {
      //console.log(canvas)
      //console.log(canvas.toDataURL())
      //document.querySelector("#canvas").appendChild(canvas);
      var img = canvas.toDataURL("image/jpeg");
      var image = new Image()
      image.src = img
      image.width = 610;
      //image.height = 107;
      $('#img-val').html(image)
      $('#img-val').attr("href", img)
    });
  })
</script>
