<!DOCTYPE html>
<html>
  <head>
    <title>Firma</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  </head>

  <body>
    <header>
      <%= render "layouts/logo" %>
      <div class="container row justify-content-md-center">
        <div class="col-md-6">
          <%= form_tag "/search/create", method: :get, remote: true, id: "search-form",class: "form-inline" do %>
            <div class="form-group col-md-10 col-sm-12">
              <%= text_field_tag :keyword, nil, class: "form-control col-sm-12", placeholder: "Buscar"%>
            </div>
            <div class="col-md-2">
              <%= content_tag :button, type: :submit, class: "btn btn-primary bg-success" do %>
                Buscar
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <div id="resultados"></div>
    <br>
    <%= yield %>
  </body>
</html>
