<!DOCTYPE html>
<html>
  <head>
    <title>Firma</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  </head>

  <body>
    <header>
      <%= render "layouts/logo" %>
      <nav class="row justify-content-md-center">
        <%= form_tag "/search/create", method: :get, remote: true, id: "search-form",class: "form-inline" do %>
          <%= text_field_tag :keyword, nil, class: "form-control mr-sm-2", placeholder: "Buscar"%>
          <%= content_tag :button, type: :submit, class: "btn btn-outline-success my-2 my-sm-0 bg-light" do %>
            Buscar
          <% end %>
        <% end %>
      </nav>
      <nav class="navbar justify-content-md-center">
        <% if admin_signed_in?%>
          <p class="text-light">
            Bienvenido: <%= current_admin.email %>
            <%= link_to "Cerrar sesión", destroy_admin_session_path, method: :delete,  class: "btn my-2 my-sm-0 text-light" %>
          </p>
        <% else %>
          <%= link_to "Ingresa", new_admin_session_path, class: "btn btn-outline-success my-2 my-sm-0 bg-light" %>
        <% end %>
      </nav>
    </header>
    <div style="<%= 'display:none;' if notice.nil? %>">
      <p class="notice alert alert-primary" id="notice"><%= notice %></p>
    </div>
    <div style="<%= 'display:none;' if alert.nil? %>">
      <p class="alert alert alert-danger" id="alert"><%= alert %></p>
    </div>
    <div id="resultados"></div>
    <br>
    <%= yield %>
  </body>
</html>
